.auth_login_error {
  display: block;
  margin-top: -15px;
  margin-bottom: 5px;
  color: #dc3545;
}

.admin-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px;
}

