@keyframes menu_underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes height_vertical {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes pulsar {
  from {
    color: #333333;
  }
  to {
    color: #D84949;
  }
}