// MANI THEME COLORS
$color-green: #92c752;
$color-orange: #ed8a14;
$bg-color-grey: #5b5b5b;
$bg-color-light-grey: #666666;

// FONT COLORS
$primary-font-color: #666666;
$secondary-font-color: #333333;
$font-white-color: #fff;
$font-light-grey: #cccccc;
$font-green-color: #92c752;

